output/
output4/
jsonfiles/
run_results_*.json
mlflow.db
__pycache__/
*.pyc
.venv/
venv/


# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*.pyo


# ==============================
# Virtual Environments
# ==============================

.venv/
venv/
env/


# ==============================
# VS Code
# ==============================

.vscode/


# ==============================
# Input / Test Data
# ==============================

data/*.mp4


# ==============================
# Generated Output
# ==============================

output/


# ==============================
# MLflow
# ==============================

mlflow.db
mlruns/


# ==============================
# Generated Experiment Results
# ==============================

jsonfiles/


